# Challenge Exercise
## Your Name(s)

### Using the Boston Building and Property Violations Dataset showing a variety of code violations, perform exploratory data analysis and document what you learn. Some code has been entered for you.

### To learn more about the metadata visit: <a href="https://data.boston.gov/dataset/building-and-property-violations1/resource/800a2663-1d6a-46e7-9356-bedb70f5332c">Boston Building and Property Violations</a><br>

In [1]:
# import statements
import pandas as pd
import seaborn as sns

In [2]:
# create a variable to store the url for the data ingest
urltodata = "https://data.boston.gov/dataset/705244a6-70a6-4ff8-ab8e-56441aff18e7/resource/800a2663-1d6a-46e7-9356-bedb70f5332c/download/tmpfbdp9ex7.csv"

In [3]:
# read the data using the url into a pandas dataframe
bostondata = pd.read_csv(urltodata)

In [4]:
# examine the first few rows of data
bostondata.head()

,case_no,status_dttm,status,code,value,description,violation_stno,violation_sthigh,violation_street,violation_suffix,...,ward,contact_addr1,contact_addr2,contact_city,contact_state,contact_zip,sam_id,latitude,longitude,location
0,V620396,2022-07-07 15:14:23,Open,116,NaN,Unsafe Structures,1112,1116,Boylston,ST,...,04,173 MASSACHUSETTS AVE,C/O ANTHONY STRAUSS,BOSTON,MA,02215,18057,42.346794,-71.088709,"(42.34679399956983, -71.08870900131272)"
1,V620387,2022-07-07 13:26:13,Open,116.1,NaN,Unsafe and Dangerous,83,NaN,Minden,ST,...,10,91 Minden Street,NaN,Jamaica Plain,MA,02130,96000,42.325172,-71.104944,"(42.325172156256755, -71.10494425654622)"
2,V620246,2022-07-06 11:46:02,Open,116,NaN,Unsafe Structures,78,NaN,Houghton,ST,...,16,78 HOUGHTON STREET,NaN,DORCHESTER,MA,02122,75461,42.294190,-71.050350,"(42.29419000020042, -71.05035000117769)"
3,V620236,2022-07-06 11:28:15,Open,105.1,NaN,Failure to Obtain Permit,78,NaN,Houghton,ST,...,16,78 HOUGHTON STREET,NaN,DORCHESTER,MA,02122,75461,42.294190,-71.050350,"(42.29419000020042, -71.05035000117769)"
4,V620221,2022-07-06 10:46:20,Open,105.1,NaN,Failure to Obtain Permit,58,60,Hobson,ST,...,22,60 58 HOBSON STREET,NaN,BRIGHTON,MA,02135,74415,42.354530,-71.162110,"(42.35453000004628, -71.16211000158474)"

### Complete the notebook by adding:
1) information on nulls in data<br>
2) statistical information on relevant columns<br>
3) three different visualizations using seaborn<br>
4) final markdown explaining what you have learned about the dataset from the statistical analysis and visualizations<br>

NOTE:  you can add additional code and markdown blocks

In [5]:
#1 information on nulls

In [8]:
#lets add a column - month - and make it numeric
# we will use slice

#one of the values is not null, but has spaces

# change the column type from object to int

#lets see info on bostondata

In [9]:
# lets get the value counts for our new column

In [11]:
#2 statistical information - the numerical data does not have relevant business meaning although lat and long do show an average location

In [13]:
#2 statistical information
#lets see the counts of the categories in certain columns
#we will start with description

In [6]:
#2 statistical information
# we can see the percentages

#top at six which are of interest

In [ ]:
#bostondata_filtered = bostondata.query("description == 'Unsafe and Dangerous' |  description == 'Maintenance' | description = 'Failure to Obtain Permit'")
bostondata_filtered = bostondata[(bostondata.description == 'Unsafe and Dangerous') | (bostondata.description == 'Maintenance') | (bostondata.description == 'Failure to Obtain Permit')]

In [14]:
bostondata_filtered.info()
#we are down to 7594 entries and can now learn more about this one category

Visualizatoins - suggestions are given for possible visualizations, you can get creative and add your own

In [15]:
#3 seaborn viz 1
# value counts can be useful
#lets look at the value counts by city and street

In [16]:
#4 seaborn viz 2
# count plots are good for visualizatioin of categorical data

In [17]:
#4 seaborn viz 3
# count plots are good for visualizatioin of categorical data

In [18]:
#5 seaborn viz 4

### What have you has been learned from Exploratory Data Analysis