# Exercise 8-1: Analyze the Forest Fires data

Your name:
Date:
Summer 2022 Data Mining UNC Charlotte

In [1]:
# make sure pickle5 is installed, this gets complicated
# as some pickle versions are not backward compatible
!pip install pickle5

Collecting pickle5
  Downloading pickle5-0.0.12-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (256 kB)
     |████████████████████████████████| 256 kB 5.0 MB/s
Installing collected packages: pickle5
Successfully installed pickle5-0.0.12

In [2]:
import pickle5 as pickle

## Read the data

In [3]:
import pandas as pd

#### Upload the pickle file before executing the next code cell!

In [ ]:
# upload using folder in colab or
# upload the file you want - here we will first select fires_by_month.pkl
from google.colab import files
uploaded = files.upload()

In [4]:
# Read the data from the file - using fires_cleaned, this may take a few minutes due to large file
# the result will be a dataframe
with open('fires_by_month.pkl', 'rb') as fid:
     fires_by_month = pickle.load(fid)

In [5]:
# fires_by_month = pd.read_pickle('fires_by_month.pkl')

In [6]:
# display the first five rows
fires_by_month.head()

  state  fire_year  fire_month  acres_burned  days_burning  fire_count
0    AK       1992           5        4202.0         135.0          14
1    AK       1992           6       86401.0         417.0          23
2    AK       1992           7       48516.7         500.0          26
3    AK       1992           8        3305.0          92.0           4
4    AK       1992           9          20.0           1.0           1

In [7]:
# display file info
fires_by_month.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9300 entries, 0 to 9299
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   state         9300 non-null   category
 1   fire_year     9300 non-null   int64
 2   fire_month    9300 non-null   int64
 3   acres_burned  9300 non-null   float64
 4   days_burning  9300 non-null   float64
 5   fire_count    9300 non-null   int64
dtypes: category(1), float64(2), int64(3)
memory usage: 372.9 KB

## Group and aggregate the data

In [ ]:
# group the data by state and year

In [ ]:
# sum the grouped data and store DataFrame in fires_by_year variable

In [ ]:
# drop the fire_month column

## Use pivot tables

In [ ]:
# select rows where the year is 2013 or later

In [ ]:
# use the pivot() method to pivot the data so the state values are used as row labels, 
# fire_year values are used as column labels, and acres_burned values are used as data

In [ ]:
# use the pivot_table() method with the fires_by_month DataFrame to get the same result
# as the previous cell

## Work with bins

In [ ]:
# reset the index for the DataFrame named fires_by_year

In [ ]:
# bin the data by decade

In [ ]:
# double-check the edge values

In [ ]:
# drop the fire_year column and assign the DataFrame that's returned to a variable named fires_by_decade

In [ ]:
# group by the state and decade columns and sum the data